#IA_logo{
    width: 10%;
    bottom: 0%;
    position: absolute;
    left: 8%;
    z-index: 1;
}
#sanmina{
    width: 7%;
    bottom: 0%;
    position: absolute;
    right: 8%;
    z-index: 2;
}
#tesla {
    width: 11%;
    bottom: 0%;
    position: absolute;
    left: 45%;
    z-index: 3;
}

#canvasCamara{
    position: absolute;
    top: 35%;
    left: 15%;
    /*box-shadow: 5px 5px grey; */
    z-index: 6;
  }

  #bar_div{
    position: absolute;
    top: 10%;
    right: 2%;
    z-index: 7;
    margin-bottom: 20px;
    
}
#bar{  /* Descripcion de canvas tamaño  */ 
    /*max-width: 500px;*/
    width: 900px;
    height: 800px;
    
} 

#linea_div{
    position: absolute;
    bottom: 15%;
    right: 2%;
    margin-bottom: 20px;
}
#linea {
    width: 900px;
    height: 800px;
}

#bar_div1{
    position: absolute;
    bottom: 42%;
    right: 2%;
    top: 35%;
    margin-bottom: 20px;
}
#bar1{
    width: 900px;
    height: 800px;
}
#menu{
  
  font-size: large;
}

table {
    border-collapse: collapse; /* Colapsa los bordes de las celdas */
    border: 1px solid black; /* Borde negro de 1px para toda la tabla */
    
  }

  th, td {
    border: 1px solid black; /* Borde negro de 1px para celdas (encabezados y datos) */
  
  }
/*----menu----*/
nav{
    max-width: 700px;
    margin: auto;
    background-color: #6b9bd5;
    font-size: 20px;
    font-family: 'Lucida Sans';
    font-size: 150%;
    margin-top: 10px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover{
    background-color: rgb(56, 104, 110);
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0,0,0, .5);
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
#output{
    font-size: 300%; 
    text-shadow: rgb(243, 217, 103) 0.1em 0.1em 0.2em;
    font-family: 'Lucida Sans';
    font-weight: bold;
}
p{
    margin-left: 10%;
    top: 10%;
}
div.row{
    margin-left: 43%;
    top: 14%;
}
